<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.png" />
    <title>MembersClub</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header">
        <h1><a href="/">MembersClub</a></h1>
        <p class="login">
          <% if(user){ %> <a href="/member">Become a member</a>
          <a href="/create">Create new post</a>
          <a href="/logout">LOG OUT</a> <%} else {%>
          <a href="/signup">Sign up</a>
          <a href="/login">Log in</a> <%}%>
        </p>
      </div>
      <div class="create-post-container">
        <% if(user){ %>
        <h2>Create a post</h2>
        <form action="/create" method="POST">
          <input
            name="content"
            placeholder="What's on your mind?"
            type="text"
            class="post-input"
          />
          <button>Post</button>
        </form>
      </div>
      <% } else { %>
      <div>Please login to create a post</div>
      <%}%>
      <div class="footer">
        <% if(user){ %>
        <div class="info-footer">
          <img src="<%= user.avatar %>" alt="" />
          <p class="footer-name"><%= user.name %> (<%=user.status %>)</p>
          <%} else {}%>
        </div>
      </div>
    </div>
  </body>
</html>
