<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <title>MembersClub</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header">
        <h1>MembersClub</h1>
        <p class="login">
          <% if(user){ %> <a href="/logout">LOG OUT</a> <%} else {%>
          <a href="/login">LOG IN</a> <%}%>
        </p>
      </div>
      <div class="posts-container"></div>
      <div class="footer">
        <% if(user){ %>
        <div class="info-footer">
          <img src="<%= user.avatar %>" alt="" />
          <p class="footer-name"><%= user.name %></p>
          <%} else {}%>
        </div>
      </div>
    </div>
  </body>
</html>
