<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <title>MembersClub</title>
  </head>
  <body>
    MembersClub <% if (user) {%>
    <h1>WELCOME BACK <%= user.name %></h1>
    <img src="<%= user.avatar %>" alt="" />
    <a href="/logout">LOG OUT</a>
    <% } else {%> <a href="/login">LOG IN</a> <%}%>
  </body>
</html>
