<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <h1><a href="/">MembersClub</a></h1>
      <p class="login">
        <% if(user){ %> <a href="/member">Become a member</a>
        <a href="/create">Create new post</a>
        <a href="/logout">LOG OUT</a> <%} else {%>
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a> <%}%>
      </p>
    </div>
    <% if(user.status === "member"){ %> <% console.log(user.status) %>
    <p>U are a member</p>
    <% } else if(user) { %>
    <h1>Become a member</h1>
    <form action="" method="POST">
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <%} else {%>
    <div>Please login to become a member</div>
    <% } %>
  </body>
</html>
