<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header">
        <h1><a href="/">MembersClub</a></h1>
        <p class="login">
          <% if(user){ %> <a href="/member">Become a member</a>
          <a href="/create">Create new post</a>
          <a href="/logout">LOG OUT</a> <%} else {%>
          <a href="/signup">Sign up</a>
          <a href="/login">Log in</a> <%}%>
        </p>
      </div>
      <% if(user.status === "member"){ %> <% console.log(user.status) %>
      <p class="you-are">You are a member! <br />Very cool.</p>
      <% } else if(user) { %>
      <div class="become-member">
        <h2>Become a member</h2>
        <form action="" method="POST">
          <label for="password">Password</label>
          <input name="password" type="password" />
          <button>Let's go!</button>
        </form>
      </div>
      <%} else {%>
      <div>Please login to become a member</div>
      <% } %>
      <div class="footer">
        <% if(user){ %>
        <div class="info-footer">
          <img src="<%= user.avatar %>" alt="" />
          <p class="footer-name"><%= user.name %> (<%=user.status %>)</p>
          <%} else {}%>
        </div>
      </div>
    </div>
  </body>
</html>
