<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.png" />
    <title>MembersClub</title>
  </head>
  <body>
    <div class="header">
      <h1><a href="/">MembersClub</a></h1>
      <p class="login">
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
      </p>
    </div>
    <div class="login-container">
      <h2>Signup</h2>

      <form method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="Username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="Password" />
        <button>Sign up</button>
      </form>
      <% if(exists) { %>
      <p class="bad">User already exists</p>
      <% } %> <% if(!length) { %>
      <p class="bad">Username must be a least 5 characters long</p>
      <% } %> <% if(!pass_length) { %>
      <p class="bad">Password must be a least 5 characters long</p>
      <% } %>
    </div>
  </body>
</html>
