* {
  outline: solid red 1px;
}
body {
  margin: 0px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 16px 29px -26px rgba(66, 68, 90, 1);
}
.posts-container {
}
.post {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  text-align: justify;
}
.author {
  text-align: center;
}
.date {
  text-align: center;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 100%;
  box-shadow: 0px -16px 29px -26px rgba(66, 68, 90, 1);
}
.info-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer img {
  width: 80px;
  height: 80px;
}
.footer p {
  font-size: 1.5rem;
}
